{% extends "base.html" %}
{% load helpers %}
{% load staticfiles %}

{% block title %} - Dashboard{% endblock %}

{% block main %}
  <div class="container-fluid">

    <div class="row-fluid">
      <div class="span3 offset1 visible-desktop">
        <div id="sidebar-stats">
          <h2>Stats</h2>
          <p>You have voted for <span id="status-total">{{ status.total }}</span>% of the list,
            <span id="status-msg"></span>
          </p>
          <div class="progress">
            <div class="bar bar-danger"
                 style="width: {{ status.no }}%;"
                 data-html="true"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="{{ status.no }}% No"></div>
            <div class="bar"
                 style="width: {{ status.skip }}%;"
                 data-html="true"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="{{ status.skip }}% Skip"></div>
            <div class="bar bar-warning"
                 style="width: {{ status.positive }}%;"
                 data-html="true"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="{{ status.positive }}% Positive"></div>
            <div class="bar bar-success"
                 style="width: {{ status.definitely }}%;"
                 data-html="true"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="{{ status.definitely }}% Definitely"></div>
          </div>
        </div>
      </div>

      <div class="span7">
        <div class="span6">
          <h2>List of mozillians</h2>
        </div>
        <div id="filter-container" class="span6">
          <div id="filter">
            <span id="filter-voted" class="badge">voted</span>
            <span id="filter-not-voted" class="badge">not-voted</span>
            <span id="filter-all" class="badge badge-info">all</span>
          </div>
        </div>
        <table id="mozillians" class="table table-hover tablesorter">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Country</th>
              <th>Your vote</th>
            </tr>
          </thead>
          <tbody>
            {% for mozillian in mozillians %}
              <tr>
                <td>
                  <a href="{% url 'voting_view_voting' id=mozillian.id %}?blind={{ blind }}&events={{ events }}">
                    {% if blind %}
                      Awesome Mozillian
                    {% else %}
                      {{ mozillian.full_name }}
                    {% endif %}
                  </a>
                </td>
                <td>
                  {% if not blind %}
                    {{ mozillian.country }}
                  {% endif %}
                </td>
                <td>{{ mozillian|get_vote:user }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div> <!-- /container -->
{% endblock %}
