{% extends "base.html" %}
{% load staticfiles %}
{% load browserid %}

{% block body-id %}id='index-body'{% endblock %}

{% block nav %}{% endblock %}

{% block main %}
  <div class="container">

    <div class="form-signin">
      <h2 class="form-signin-heading">Mozilla Voting App</h2>
      {% if not user.is_authenticated %}
        <div id="login">
          <img class="browserid-login" data-next="/events/" src="{% static 'img/plain_sign_in_blue.png' %}">
        </div>
      {% endif %}

      {% if messages %}
        {% for message in messages %}
          <div class="alert fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      <div id="reclama">
        Powered by
        <a href="https://wiki.mozilla.org/Participation/Infrastructure">Participation Infrastructure</a>
        | <a href="https://github.com/mozilla/woodstock"> Fork me</a>
      </div>

    </div>

  </div>
{% endblock %}
