{% extends "base.html" %}
{% load helpers %}
{% load staticfiles %}

{% block title %} - Vote{% endblock %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="span12">
        <ul class="pager">
          {% if previous_entry %}
            <li class="previous">
              <a href="{% url 'voting_view_voting' id=previous_entry.id %}?blind={{ blind }}">
                &larr; <span class="block visible-desktop">Previous</span>
              </a>
            </li>
          {% endif %}
          <li>
            <div id="vote-title">
              {% if blind %}
                Vote
              {% else %}
                Vote for {{ mozillian.full_name }}
              {% endif %}
            </div>
          </li>
          {% if next_entry %}
            <li class="next">
              <a href="{% url 'voting_view_voting' id=next_entry.id %}?blind={{ blind }}">
                <span class="block visible-desktop">Next</span> &rarr;
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div id="sidebar" class="span2">
          {% if blind %}
            <img class="img-circle avatar" src="{% static 'img/default_avatar.png' %}" />
          {% else %}
            {% if mozillian.avatar_url %}
              <img class="img-circle avatar" src="{{ mozillian.avatar_url }}" />
            {% else %}
              <img class="img-circle avatar" src="{% static 'img/shy.png' %}" />
            {% endif %}
            <a {% if mozillian.mozillian_username %}
                 href="https://mozillians.org/en-US/u/{{ mozillian.mozillian_username }}"
               {% else %}
                 href="https://mozillians.org/en-US/search/?q={{ mozillian.email }}"
               {% endif %}
                 target="_blank"
                 class="btn btn-small visible-desktop">
                Mozillians Profile
            </a>
            <a href="https://bugzilla.mozilla.org/page.cgi?id=user_activity.html&action=run&who={{ mozillian.email }}"
               target="_blank"
               class="btn btn-small visible-desktop">
              Bugzilla Activity
            </a>
          {% endif %}
        </div>
        <div class="span10">
          <div class="container-fluid">
            {% if blind %}
              <div class="row-fluid">
                <div class="span2">
                  <span class="label label-info">Name</span>
                </div>
                <div class="span10">
                  <strong>Awesome Mozillian</strong>
                </div>
              </div>
            {% else %}
              <div class="row-fluid">
                <div class="span2">
                  <span class="label label-info">Name</span>
                </div>
                <div class="span10">
                  <strong>{{ mozillian.full_name }}</strong>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span2">
                  <span class="label label-info">Email</span>
                </div>
                <div class="span10">
                  {{ mozillian.email }}
                </div>
              </div>
              <div class="row-fluid">
                <div class="span2">
                  <span class="label label-info">City</span>
                </div>
                <div class="span10">
                  {{ mozillian.city }}
                </div>
              </div>
              <div class="row-fluid">
                <div class="span2">
                  <span class="label label-info">Country</span>
                </div>
                <div class="span10">
                  {{ mozillian.country }}
                </div>
              </div>
              <div class="row-fluid">
                <div class="span2">
                  <span class="label label-info">IRC Nick</span>
                </div>
                <div class="span10">
                  {{ mozillian.ircname }}
                </div>
              </div>
              <div class="row-fluid">
                <div class="span2">
                  <span class="label label-info">Groups</span>
                </div>
                <div class="span10 groups">
                  {% for group in mozillian.tracking_groups.all %}
                    <span class="badge">{{ group.name }}</span>
                  {% endfor %}
                </div>
              </div>
              <div class="row-fluid">
                <div class="span2">
                  <span class="label label-info">Bio</span>
                </div>
                <div class="span10">
                  <p>{{ mozillian.bio }}</p>
                </div>
              </div>
            {% endif %}

            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="label label-inverse">Common Questions</span>
              </div>
            </div>

            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="question">No of events</span>
              </div>
              <div class="span9 offset1">
                <p>{{ mozillian.application.number_of_events }}</p>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="question">Events</span>
              </div>
              <div class="span9 offset1">
                <ul>
                  {% for event in mozillian.application.preferredevent_set.all %}
                    <li class="events-list">
                      {{ event.event.name }}
                      {% if event.preferred %}
                        <i class="icon-star preferred" title="Preferred"></i>
                        <br> {{ event.reason}}
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="question">
                  Why do you want to join this cohort of participation leaders?
                </span>
              </div>
              <div class="span9 offset1">
                <p>{{ mozillian.application.reasoning }}</p>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="question">Impact last 6-12 months</span>
              </div>
              <div class="span9 offset1">
                <p>{{ mozillian.application.impact }}</p>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="question">
                  In what areas do you want to learn and grow professionally in over 6-12 months? How?
                </span>
              </div>
              <div class="span9 offset1">
                <p>{{ mozillian.application.learning_areas|default:"-" }}</p>
              </div>
            </div>

            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="label label-inverse">MozFest</span>
              </div>
            </div>

            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="question">
                  What ideas do you have for programs to build the skills of Mozillians?
                </span>
              </div>
              <div class="span9 offset1">
                <p>{{ mozillian.application.ideas|default:"-" }}</p>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="question">
                  What specific commitments do you have for the 1st half of 2016?
                </span>
              </div>
              <div class="span9 offset1">
                <p>{{ mozillian.application.commitment_1|default:"-" }}</p>
              </div>
            </div>

            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="label label-inverse">All Hands</span>
              </div>
            </div>

            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="question">Functional team associated?</span>
              </div>
              <div class="span9 offset1">
                <p>{{ mozillian.application.functional_team|default:"-" }}</p>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="question">Team contact?</span>
              </div>
              <div class="span9 offset1">
                <p>{{ mozillian.application.team_contact|default:"-" }}</p>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="question">
                  What specific ideas do you have for strengthening participation at
                  Mozilla and within your functional team in 2016?
                </span>
              </div>
              <div class="span9 offset1">
                <p>{{ mozillian.application.participation_opportunities|default:"-" }}</p>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="question">
                  What specific commitments do you have for the 1st half of 2016?
                </span>
              </div>
              <div class="span9 offset1">
                <p>{{ mozillian.application.commitment_2|default:"-" }}</p>
              </div>
            </div>

            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="label label-inverse">Leadership Summit</span>
              </div>
            </div>

            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="question">What community are you associated with?</span>
              </div>
              <div class="span9 offset1">
                <p>{{ mozillian.application.community|default:"-" }}</p>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="question">Track record in community?</span>
              </div>
              <div class="span9 offset1">
                <p>{{ mozillian.application.track_record|default:"-" }}</p>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="question">
                  What ideas do you have for growing the size and impact of your community?
                </span>
              </div>
              <div class="span9 offset1">
                <p>{{ mozillian.application.community_impact|default:"-" }}</p>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="question">
                  What specific commitments do you have for the 1st half of 2016?
                </span>
              </div>
              <div class="span9 offset1">
                <p>{{ mozillian.application.commitment_3|default:"-" }}</p>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="question">Other comments?</span>
              </div>
              <div class="span9 offset1">
                <p>{{ mozillian.application.other|default:"-" }}</p>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="question">Date submitted</span>
              </div>
              <div class="span9 offset1">
                <p>{{ mozillian.application.date|date:"SHORT_DATE_FORMAT"|default:"-" }}</p>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span9 offset1">
                <span class="question">Recommendation Letter</span>
              </div>
              <div class="span9 offset1">
                {% if mozillian.application.recommendation_letter %}
                <p>
                  <a href="{{ mozillian.application.recommendation_letter }}" target="_blank">View recommendation</a>
                  {% if blind %}(you may see identifiable information){% endif %}
                </p>
                {% else %}
                  -
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Vote -->
    <div class="container-fluid">
      <div id="vote-container" class="row-fluid">
        <div class="span1 offset4">
          <a id="button-no" href="#" class="btn btn-vote btn-danger">
            <i class="icon-remove icon-white"></i><br>
            <span>No</span>
          </a>
        </div>
        <div class="span1">
          <a id="button-skip" href="#" class="btn btn-vote btn-info">
            <i class="icon-share-alt icon-white"></i><br>
            <span>Skip</span>
          </a>
        </div>
        <div class="span1">
          <a id="button-probably" href="#" class="btn btn-vote btn-warning">
            <strong>?</strong><br>
            <span>Probably</span>
          </a>
        </div>
        <div class="span1">
          <a id="button-definitely" href="#" class="btn btn-vote btn-success">
            <i class="icon-ok icon-white"></i><br>
            <span>Definitely</span>
          </a>
        </div>
      </div>
      <div class="row-fluid">
        <div id="shortcuts-container" class="span2 offset5 visible-desktop">
            <span id="shortcuts"
                  data-html="true"
                  data-toggle="tooltip"
                  title="Press 'x' for No<br>Press '0' for Skip<br>Press '1' for Probably<br>Press '2' for Definitely">
              <i class="icon-fire"></i> <strong>shortcuts</strong>
            </span>
        </div>
      </div>
    </div>

  </div>

  <!-- Voting Form-->
  <form id="voting_form" method="post">
    {% csrf_token %}
    {{ vote_form }}
  </form>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/vote.js' %}"></script>
{% endblock %}
