{% extends "base.html" %}
{% load helpers %}
{% load staticfiles %}

{% block title %} - Vote{% endblock %}

{% block main %}
  <div class="container">

    <div class="row">
      <div class="span12">
        <ul class="pager">
          {% if previous_entry %}
            <li class="previous">
              <a href="{% url 'voting_view_voting' slug=previous_entry.slug %}">
                &larr; <span class="block visible-desktop">Previous</span>
              </a>
            </li>
          {% endif %}
          <li>
            <div id="vote-title">Vote for {{ mozillian.full_name }}</div>
          </li>
          {% if next_entry %}
            <li class="next">
              <a href="{% url 'voting_view_voting' slug=next_entry %}">
                <span class="block visible-desktop">Next</span> &rarr;
              </a>
            </li>
          {% endif %}
        </ul>

      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div id="sidebar" class="span2">
          {% if mozillian.avatar_url %}
            <img class="img-circle avatar" src="{{ mozillian.avatar_url }}" />
          {% else %}
            <img class="img-circle avatar" src="{% static 'img/shy.png' %}" />
          {% endif %}
          <a href="https://mozillians.org/en-US/search/?q={{ mozillian.email }}"
             target="_blank"
             class="btn btn-small visible-desktop">
            Mozillians Profile
          </a>
          <a href="https://bugzilla.mozilla.org/page.cgi?id=user_activity.html&action=run&who={{ mozillian.email }}"
             target="_blank"
             class="btn btn-small visible-desktop">
            Bugzilla Activity
          </a>
        </div>
        <div class="span10">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span2">
                <span class="label label-info">Name</span>
              </div>
              <div class="span10">
                <strong>{{ mozillian.full_name }}</strong>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span2">
                <span class="label label-info">Email</span>
              </div>
              <div class="span10">
                {{ mozillian.email }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span2">
                <span class="label label-info">City</span>
              </div>
              <div class="span10">
                {{ mozillian.city }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span2">
                <span class="label label-info">Country</span>
              </div>
              <div class="span10">
                {{ mozillian.country }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span2">
                <span class="label label-info">IRC Nick</span>
              </div>
              <div class="span10">
                {{ mozillian.ircname }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span2">
                <span class="label label-info">Groups</span>
              </div>
              <div class="span10 groups">
                {% for group in mozillian.tracking_groups.all %}
                  <span class="badge">{{ group.name }}</span>
                {% endfor %}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span2">
                <span class="label label-info">Bio</span>
              </div>
              <div class="span10">
                <p>{{ mozillian.bio }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Vote -->
    <div class="container-fluid">
      <div id="vote-container" class="row-fluid">
        <div class="span1 offset4">
          <a id="button-no" href="#" class="btn btn-vote btn-danger">
            <i class="icon-remove icon-white"></i><br>
            <span>No</span>
          </a>
        </div>
        <div class="span1">
          <a id="button-skip" href="#" class="btn btn-vote btn-info">
            <i class="icon-share-alt icon-white"></i><br>
            <span>Skip</span>
          </a>
        </div>
        <div class="span1">
          <a id="button-probably" href="#" class="btn btn-vote btn-warning">
            <strong>?</strong><br>
            <span>Probably</span>
          </a>
        </div>
        <div class="span1">
          <a id="button-definitely" href="#" class="btn btn-vote btn-success">
            <i class="icon-ok icon-white"></i><br>
            <span>Definitely</span>
          </a>
        </div>
      </div>
      <div class="row-fluid">
        <div id="shortcuts-container" class="span2 offset5 visible-desktop">
            <span id="shortcuts"
                  data-html="true"
                  data-toggle="tooltip"
                  title="Press 'x' for No<br>Press '0' for Skip<br>Press '1' for Probably<br>Press '2' for Definitely">
              <i class="icon-fire"></i> <strong>shortcuts</strong>
            </span>
        </div>
      </div>
    </div>

  </div>

  <!-- Voting Form-->
  <form id="voting_form" method="post">
    {% csrf_token %}
    {{ vote_form }}
  </form>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/vote.js' %}"></script>
{% endblock %}
